@tailwind base;
@tailwind components;
@tailwind utilities;

/* JosefinSans */
@font-face {
  font-family: 'JosefinSans-Bold';
  src: url('../public/Font/JosefinSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JosefinSans-BoldItalic';
  src: url('../public/Font/JosefinSans-BoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JosefinSans-ExtraLight';
  src: url('../public/Font/JosefinSans-ExtraLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JosefinSans-ExtraLightItalic';
  src: url('../public/Font/JosefinSans-ExtraLightItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JosefinSans-Italic';
  src: url('../public/Font/JosefinSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JosefinSans-Light';
  src: url('../public/Font/JosefinSans-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JosefinSans-LightItalic';
  src: url('../public/Font/JosefinSans-LightItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JosefinSans-Medium';
  src: url('../public/Font/JosefinSans-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JosefinSans-MediumItalic';
  src: url('../public/Font/JosefinSans-MediumItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JosefinSans-Regular';
  src: url('../public/Font/JosefinSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JosefinSans-SemiBold';
  src: url('../public/Font/JosefinSans-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JosefinSans-Thin';
  src: url('../public/Font/JosefinSans-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JosefinSans-ThinItalic';
  src: url('../public/Font/JosefinSans-ThinItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Lato */
@font-face {
  font-family: 'Lato-Black';
  src: url('../public/Font/Lato-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-BlackItalic';
  src: url('../public/Font/Lato-BlackItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('../public/Font/Lato-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-BoldItalic';
  src: url('../public/Font/Lato-BoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Italic';
  src: url('../public/Font/Lato-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Light';
  src: url('../public/Font/Lato-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-LightItalic';
  src: url('../public/Font/Lato-LightItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('../public/Font/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Thin';
  src: url('../public/Font/Lato-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-ThinItalic';
  src: url('../public/Font/Lato-ThinItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}





body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
